# Temporal Variables
Este notebook realiza una modificacion de las variables para incluir datos del pasado y no solo del año actual.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_parquet("dataset.parquet")

In [3]:
df = data.copy()
indexNames = df[ df.Year < 1992 ].index
df.drop(indexNames , inplace=True)
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Income Per Capita,Tourism,Area,Built Area,Municipal,Household,Recovered,Recicled,Compost,Disposal
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,13273.334796,2.907,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,13985.024496,2.907,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,14840.712656,2.907,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,15539.463374,2.907,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,16139.353963,2.907,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0

In [4]:
df.columns

Index(['Country', 'Year', 'COU', 'Built', 'Below Secundary', 'Income Median',
       'Population', 'Over 65', 'Over 65 Percentage', 'Over 85',
       'Over 85 Percentage', 'Over 50', 'Over 50 Percentage', 'Under 20',
       'Under 20 Percentage', 'Income Per Capita', 'Tourism', 'Area',
       'Built Area', 'Municipal', 'Household', 'Recovered', 'Recicled',
       'Compost', 'Disposal'],
      dtype='object')

In [5]:
df["Last Year Municipal"] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), "Last Year Municipal"] = \
            float(data[(data.COU == c) & (data.Year == y-1)].Municipal)
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Tourism,Area,Built Area,Municipal,Household,Recovered,Recicled,Compost,Disposal,Last Year Municipal
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2.907,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2.907,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2.907,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2.907,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2.907,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0

In [6]:
df["Last Year Household"] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), "Last Year Household"] = \
            float(data[(data.COU == c) & (data.Year == y-1)].Household)
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Area,Built Area,Municipal,Household,Recovered,Recicled,Compost,Disposal,Last Year Municipal,Last Year Household
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7741220.0,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0

In [7]:
df["Last Year Recovered"] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), "Last Year Recovered"] = \
            float(data[(data.COU == c) & (data.Year == y-1)].Recovered)
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Built Area,Municipal,Household,Recovered,Recicled,Compost,Disposal,Last Year Municipal,Last Year Household,Last Year Recovered
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,936919.8566,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0

In [8]:
df["Last Year Recicled"] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), "Last Year Recicled"] = \
            float(data[(data.COU == c) & (data.Year == y-1)].Recicled)
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Municipal,Household,Recovered,Recicled,Compost,Disposal,Last Year Municipal,Last Year Household,Last Year Recovered,Last Year Recicled
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,12000.0,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0

In [9]:
df["Last Year Compost"] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), "Last Year Compost"] = \
            float(data[(data.COU == c) & (data.Year == y-1)].Compost)
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Household,Recovered,Recicled,Compost,Disposal,Last Year Municipal,Last Year Household,Last Year Recovered,Last Year Recicled,Last Year Compost
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7000.0,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0

In [10]:
df["Last Year Built"] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), "Last Year Built"] = \
            float(data[(data.COU == c) & (data.Year == y-1)].Built)
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Recovered,Recicled,Compost,Disposal,Last Year Municipal,Last Year Household,Last Year Recovered,Last Year Recicled,Last Year Compost,Last Year Built
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103

In [11]:
df["Difference Built"] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), "Difference Built"] = \
            float(data[(data.COU == c) & (data.Year == y)].Built) - float(data[(data.COU == c) & (data.Year == y-1)].Built)
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Recicled,Compost,Disposal,Last Year Municipal,Last Year Household,Last Year Recovered,Last Year Recicled,Last Year Compost,Last Year Built,Difference Built
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0

In [12]:
df["Mean Built"] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), "Mean Built"] = \
            np.mean(data[(data.COU == c) & (data.Year < y)].Built)
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Compost,Disposal,Last Year Municipal,Last Year Household,Last Year Recovered,Last Year Recicled,Last Year Compost,Last Year Built,Difference Built,Mean Built
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,814.0,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103

In [13]:
df['Last Year Below Secundary'] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), 'Last Year Below Secundary'] = \
            float(data[(data.COU == c) & (data.Year == y-1)]['Below Secundary'])
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Disposal,Last Year Municipal,Last Year Household,Last Year Recovered,Last Year Recicled,Last Year Compost,Last Year Built,Difference Built,Mean Built,Last Year Below Secundary
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.127056
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.127056
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,47.159046
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,49.802025
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,6202.0,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.935852

In [14]:
df["Difference Below Secundary"] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), "Difference Below Secundary"] = \
            float(data[(data.COU == c) & (data.Year == y)]['Below Secundary']) - float(data[(data.COU == c) & (data.Year == y-1)]['Below Secundary'])
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Last Year Municipal,Last Year Household,Last Year Recovered,Last Year Recicled,Last Year Compost,Last Year Built,Difference Built,Mean Built,Last Year Below Secundary,Difference Below Secundary
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.127056,0.000000
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.127056,3.031990
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,47.159046,2.642979
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,49.802025,-4.866173
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,12000.0,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.935852,0.000000

In [15]:
df['Last Year Population'] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), 'Last Year Population'] = \
            float(data[(data.COU == c) & (data.Year == y-1)]['Population'])
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Last Year Household,Last Year Recovered,Last Year Recicled,Last Year Compost,Last Year Built,Difference Built,Mean Built,Last Year Below Secundary,Difference Below Secundary,Last Year Population
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.127056,0.000000,20176844.0
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.127056,3.031990,20176844.0
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,47.159046,2.642979,20176844.0
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,49.802025,-4.866173,20176844.0
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,7000.0,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.935852,0.000000,20176844.0

In [16]:
df["Difference Population"] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), "Difference Population"] = \
            float(data[(data.COU == c) & (data.Year == y)]['Population']) - float(data[(data.COU == c) & (data.Year == y-1)]['Population'])
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Last Year Recovered,Last Year Recicled,Last Year Compost,Last Year Built,Difference Built,Mean Built,Last Year Below Secundary,Difference Below Secundary,Last Year Population,Difference Population
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.127056,0.000000,20176844.0,0.0
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.127056,3.031990,20176844.0,0.0
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,2701.0,814.0,0.12103,0.0,0.12103,47.159046,2.642979,20176844.0,0.0
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,2701.0,814.0,0.12103,0.0,0.12103,49.802025,-4.866173,20176844.0,0.0
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,2701.0,814.0,0.12103,0.0,0.12103,44.935852,0.000000,20176844.0,0.0

In [17]:
df['Last Year Tourism'] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), 'Last Year Tourism'] = \
            float(data[(data.COU == c) & (data.Year == y-1)]['Tourism'])
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Last Year Recicled,Last Year Compost,Last Year Built,Difference Built,Mean Built,Last Year Below Secundary,Difference Below Secundary,Last Year Population,Difference Population,Last Year Tourism
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,814.0,0.12103,0.0,0.12103,44.127056,0.000000,20176844.0,0.0,2.907
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,814.0,0.12103,0.0,0.12103,44.127056,3.031990,20176844.0,0.0,2.907
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,814.0,0.12103,0.0,0.12103,47.159046,2.642979,20176844.0,0.0,2.907
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,814.0,0.12103,0.0,0.12103,49.802025,-4.866173,20176844.0,0.0,2.907
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,2701.0,814.0,0.12103,0.0,0.12103,44.935852,0.000000,20176844.0,0.0,2.907

In [18]:
df["Difference Tourism"] = 0
for c in df.COU.unique():
    for y in df.Year.unique():
        df.loc[(df.COU == c) & (df.Year == y), "Difference Tourism"] = \
            float(data[(data.COU == c) & (data.Year == y)]['Tourism']) - float(data[(data.COU == c) & (data.Year == y-1)]['Tourism'])
df.head()

,Country,Year,COU,Built,Below Secundary,Income Median,Population,Over 65,Over 65 Percentage,Over 85,...,Last Year Compost,Last Year Built,Difference Built,Mean Built,Last Year Below Secundary,Difference Below Secundary,Last Year Population,Difference Population,Last Year Tourism,Difference Tourism
2,Australia,1992,AUS,0.12103,44.127056,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,814.0,0.12103,0.0,0.12103,44.127056,0.000000,20176844.0,0.0,2.907,0.0
3,Australia,1993,AUS,0.12103,47.159046,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,814.0,0.12103,0.0,0.12103,44.127056,3.031990,20176844.0,0.0,2.907,0.0
4,Australia,1994,AUS,0.12103,49.802025,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,814.0,0.12103,0.0,0.12103,47.159046,2.642979,20176844.0,0.0,2.907,0.0
5,Australia,1995,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,814.0,0.12103,0.0,0.12103,49.802025,-4.866173,20176844.0,0.0,2.907,0.0
6,Australia,1996,AUS,0.12103,44.935852,12072.269577,20176844.0,2614809.0,0.129595,305121.0,...,814.0,0.12103,0.0,0.12103,44.935852,0.000000,20176844.0,0.0,2.907,0.0

In [19]:
df.to_parquet("time_dataset.parquet")